<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Bookstore</title>
</head>

<body>
    <div class="container">
        <h1>Bookstore</h1>
        <h4>Edit the Book</h4>
        <!--form-->
        <form method="post" action="#" th:action="@{/savebook}" th:object="${book}">
            <input type="hidden" th:field="${book.bookId}">
            <input type="text" th:field="${book.author}" placeholder="Author">
            <input type="text" th:field="${book.title}" placeholder="Title">
            <input type="text" th:field="${book.isbn}" placeholder="ISBN">
            <input type="text" th:field="${book.publicationYear}" placeholder="Publication year">
            <button class="btn btn-secondary" type="submit">Save</button>
        </form>
    </div>
</body>

</html>